/* 菜单选中后字体样式 */
@subMenuActiveText: #fff;
/* 菜单背景 */
@menuBg: #001529;
/* 鼠标覆盖到菜单时的背景 */
@menuHover: #4091f7;
/* 子菜单背景 */
@subMenuBg: #0f0303;
/* 有无子集的激活菜单背景 */
@subMenuActiveBg: #4091f7;
@navTextColor: #fff;
@menuText: rgb(254 254 254 / 65%);
/* logo背景颜色 */
@sidebarLogo: #002140;

/* 鼠标覆盖到菜单时的字体颜色 */
@menuTitleHover: #fff;
@menuActiveBefore: #4091f7;

/* 左侧菜单的宽度*/
@menuWidth: 230px;
