/* 菜单选中后字体样式 */
/* 菜单背景 */
/* 鼠标覆盖到菜单时的背景 */
/* 子菜单背景 */
/* 有无子集的激活菜单背景 */
/* logo背景颜色 */
/* 鼠标覆盖到菜单时的字体颜色 */
/* 左侧菜单的宽度*/
.menu {
  width: 230px;
  background-color: #304156;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 20px;
}
.menu::-webkit-scrollbar {
  width: 0 !important;
}
.sys-name {
  height: 60px;
  background: #409eff;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.el-menu--inline {
  background: #0f0303 !important;
}
.el-menu--inline .el-sub-menu__title {
  background: #0f0303 !important;
}
.el-sub-menu__title:hover,
.el-menu-item:hover {
  color: purple !important;
}
.el-menu-item {
  width: 230px;
}
